body {
	background-color: #037367;
	color: #FFFFFF;
}

.button {
	background-color: #BEA42E;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 0px;
	cursor: pointer;
}

h2 {
	background-color: #BEA42E;
}
