body {
	color: #800000;
	background-color: #ffffcc;

}

.button-bar {
	background-color: #800000;
	border: none;
	color: #ffffcc;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 15px;
	cursor: pointer;
}

.button:hover {background-color: #380000}

a.leave-Suggestion {
	cursor: pointer;
	font-size: 15px;
	padding: 0px 32px;
	background-color: #ffffcc;
	border: none;
	text-align: center;
	text-decoration: none;
	margin: 4px 15px;
	display: inline-block;
	color: #800000;
	right: 0;
}

h1 {
	font: italic bold 40px/40px Georgia, serif;
}

h2 {
	background-color: #800000;
	text-align: center;
}

h3 {
	font: 25px arial, sans-serif;
}

.left {
	left: 0;
}

.right{
	right: 0;
}

.split {
	height: 100%;
	width: 50%;
	z-index: 1;
	top: 150px;
	overflow-x: hidden;
	padding-top: 20px;
	position: fixed;
}

.body-font {
	font-size: 20px;
	color: black;
}


